<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>340057161046-4ud5u13lpehj5acochf6nt93deur273k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.340057161046-4ud5u13lpehj5acochf6nt93deur273k</string>
	<key>API_KEY</key>
	<string>AIzaSyApucX5eX23BCkNVZXLAK3UXT0jEST4atM</string>
	<key>GCM_SENDER_ID</key>
	<string>340057161046</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myFlutterProject</string>
	<key>PROJECT_ID</key>
	<string>healthy-hair-routine</string>
	<key>STORAGE_BUCKET</key>
	<string>healthy-hair-routine.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:340057161046:ios:ad773e1c27c58ba56faaf7</string>
</dict>
</plist>